<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var googleArray = [
                ['Technology', 'Number of apprentices']
            ];
            /*<![CDATA[*/
            var technologies = /*[[${technologies}]]*/ 'technologies';
            /*]]>*/

            /*<![CDATA[*/
            var numbers = /*[[${numbers}]]*/ 'numbers';
            /*]]>*/

            for (var i = 0; i < technologies.length; i++) {
                googleArray.push([technologies[i], numbers[i]]);
            }

            var data = google.visualization.arrayToDataTable(googleArray);

            var options = {
                title: 'GFA apprentices'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>




