<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matrix Checker</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>MATRIX CHECKER</h1>
<p>Check if your matrix is increasing! Add a matrix and sit back while the evaluation happens.</p>
<form method="post" action="/matrix">
    <p>Enter your matrix here (it has to be square!):</p>
    <div>
        <textarea style="height: 200px; width: 300px" name="matrixAsString"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<h3>Result:</h3>
<p th:text="${validation}"></p>
<a href="/matrices">See all valid matrices so far... </a>
</body>
</html>