<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="apprentice-ticket" th:fragment="apprenticeTile(apprentice)">
    <p class="apprentice-name" th:text="${apprentice.name}"></p>

    <div class="apprentice-data-container">
        <span class="language spoken-language" th:each="language : ${apprentice.languages}"
              th:text="${language.name} + ' ' + ${language.level.name}"></span>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>