<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<br>
<ul type="disc" th:each="message : ${messages}">
    <p th:text="${message.user.name}"></p>
    <li th:text="${message.text}"></li>
</ul>
<p>Logged in as:</p>
<h2 th:text="${user.name}"></h2>
<form method="post">
    <label>Submit message here:</label>
    <input type="text" name="text">
    <button type="submit">SUBMIT</button>
</form>
<br>
<h2><a href="/register">Or login to other account</a></h2>
<h2><a th:href="'/' + ${user.id}">Or change username</a></h2>
</body>
</html>