body {
  background-color: rgb(102, 102, 240);
}

table,
td,
th {
  width: 800px;
  height: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: left;
}

td, th {
  border: 2px solid rgb(172, 171, 171, 0.8);
  padding: 0 20px;
}

table {
  margin: auto;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  background-color: rgb(26, 25, 25);
  color: rgb(196, 194, 194);
}

td {
  color: rgb(126, 124, 124);
}

tr:nth-child(2n+1) {
  background-color: rgb(231, 231, 231);
}

tr:nth-child(2n) {
  background-color: white;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}