<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<p th:text="${errorMessage}"></p>
<form method="post" th:object="${signUpForm}">
    NAME<input type="text" th:field="*{name}">
    USERNAME<input type="text" th:field="*{username}">
    EMAIL<input type="email" th:field="*{email}">
    PASSWORD<input type="password" th:field="*{password}">
    <select th:field="*{role}">
        <option th:value="user">USER</option>
        <option th:value="pm">PM</option>
        <option th:value="admin">ADMIN</option>
    </select>
    <button type="submit">GOOO</button>
</form>
</body>
</html>