<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form method="POST">
    <div>
        <div>
            <label>P1 name</label>
            <input type="text" name="playerOneName" required>
            <label>P2 name</label>
            <input type="text" name="playerTwoName" required>
        </div>
        <div>
            <label>Who begins?</label>
            <select name="withWhite">
                <option value="P1">P1</option>
                <option value="P2">P2</option>
            </select>
        </div>
        <div>
            <button class="play" type="submit">PLAY</button>
        </div>
    </div>
</form>
</body>
</html>