<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHESS APP</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form method="POST">
    <div class="main">
        <div>
            <h3>welcome to the chess app</h3>
        </div>
        <div>
            <div>
                <img src="blackandwhite.jpg">
            </div>
            <div>
                <label>white name</label>
                <input type="text" name="whiteName" required>
                <input type="text" name="blackName" required>
                <label>black name</label>
            </div>
            <div>
                <button class="play" type="submit">PLAY</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>