<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8"/>
</head>
<body class="container">
<h3 class="text-center">EDIT TODO:</h3>
<div>
    <form class="form-group" method="POST" th:object="${todo}">
        <label>What to do?</label>
        <input class="form-control" type="text" th:field="*{title}">
        <label class="checkbox-inline">
            <input class="checkbox" type="checkbox" th:field="*{urgent}">Urgent?
        </label>
        <label class="checkbox-inline">
            <input class="checkbox" type="checkbox" th:field="*{done}">Done?
        </label>
        <button class="btn" type="submit">UPDATE</button>
        <a class="btn btn-link" href="/">Cancel</a>
    </form>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>