<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h3>TODOS FOR TODAY:</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="todo : ${todoList}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isUrgent()}"></td>
        <td th:text="*{isDone()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>