<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style>
        body {
            margin: 0 40%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>YOUR PET WAS WAITING FOR YOU</h1>
<img src="fox.gif">
<br>
<h4 th:object="${fox}"
    th:text="'This is Mr.' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows ' + *{tricks.size()} + ' trick(s):'"></h4>
<ul type="disc" th:if="${fox.getTricks().isEmpty()}">
    <li th:text="'No tricks yet. Go learn some!'"></li>
</ul>
<ul type="disc" th:unless="${fox.getTricks().isEmpty()}" th:each="trick: ${fox.getTricks()}">
    <li th:text="${trick.getName()}"></li>
</ul>
<ul>
    <li><a th:href="'/feed?name=' + ${fox.getName()}">FEED</a></li>
    <li><a th:href="'/drink?name=' + ${fox.getName()}">GIVE DRINK</a></li>
    <li><a th:href="'/brush?name=' + ${fox.getName()}">BRUSH</a></li>
</ul>
<br>
<a th:href="'/nutritionstore?name=' + ${fox.getName()}">Go to nutrition store</a>
<br>
<a th:href="'/trickcenter?name=' + ${fox.getName()}">Go to trick center</a>
</body>
</html>