<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style>
        body {
            margin: 0 35%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>YOUR PET WAS WAITING FOR YOU</h1>
<br><br>
<a>INFORMATION</a>
<br><br>
<img src="fox.gif">
<br><br>
<h4 th:object="${fox}"
    th:text="'This is Mr.' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows two tricks:'"></h4>
<ul type="disc">
    <li>No tricks yet. Go learn some!</li>
</ul>
</body>
</html>