<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style>
        body {
            margin: 0 40%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>NUTRITION STORE</h1>
<form method="POST">
    <select name="food">
        <option value="pizza">pizza</option>
        <option value="gyros">gyros</option>
        <option value="falafel">falafel</option>
        <option value="toltottkaposzta">töltöttkáposzta</option>
    </select>
    <select name="drink">
        <option value="lemonade">lemonade</option>
        <option value="cocacola">coca cola</option>
        <option value="fanta">fanta</option>
        <option value="jagermeister">jagermeister</option>
        <option value="water">water</option>
    </select>
    <button type="submit">CHANGE</button>
</form>
<br><br>
<a th:href="'/?name=' + ${fox.getName()}">Go back to your fox</a>
</body>
</html>