<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <style>
        body {
            margin: 0 40%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>TRICK CENTER</h1>
<form method="POST">
    <select name="trick">
        <option value="cobra fighting style">cobra fighting style</option>
        <option value="monkey jump">monkey jump</option>
        <option value="husky barking">husky barking</option>
        <option value="flamingo walking">flamingo walking</option>
        <option value="learn JAVA">learn JAVA</option>
    </select>
    <button type="submit">LEARN</button>
</form>
<br><br>
<a th:href="'/?name=' + ${fox.getName()}">Go back to your fox</a>
</body>
</html>